In [1]:
import requests
import sys
import numpy as np
import pandas as pd
import time
final_df = pd.read_csv('final_df.csv')
pd.set_option("display.max_rows", 101)

In [2]:
url = 'https://www.pro-football-reference.com/years/'+'1977'+'/'
afc_df = pd.read_html(url)[0]
afc_df['Season_Year'] = '1977'
nfc_df = pd.read_html(url)[1]
nfc_df['Season_Year'] = '1977'
df_1 = [nfc_df,afc_df]
df = pd.concat(df_1)
df = df.reset_index(drop=True)
df = df[~df.Tm.str.contains("AFC")]
df = df[~df.Tm.str.contains("NFC")]
df['Tm'] = df['Tm'].str.replace('+','')
df['Tm'] = df['Tm'].str.replace('*','')

In [3]:
years = list(map(str, final_df.schedule_season.unique()))

In [4]:

for year in years:
    url = 'https://www.pro-football-reference.com/years/'+year+'/'
    # get afc dataframe and add year
    afc_df = pd.read_html(url)[0]
    afc_df['Season_Year'] = year
    # get nfc dataframe and add year
    nfc_df = pd.read_html(url)[1]
    nfc_df['Season_Year'] = year
    # Combine dataframes
    df_1 = [nfc_df,afc_df]
    df_1 = pd.concat(df_1)
    df = pd.merge(df, df_1,how = 'outer')
    # Clean Master Dataframe
    df = df.reset_index(drop=True)
    df = df[~df.Tm.str.contains("AFC")]
    df = df[~df.Tm.str.contains("NFC")]
    df['Tm'] = df['Tm'].str.replace('+','')
    df['Tm'] = df['Tm'].str.replace('*','')

In [5]:
df.Season_Year.value_counts()

2010    32
2012    32
2003    32
2009    32
2005    32
2002    32
2011    32
2004    32
2007    32
2008    32
2013    32
2019    32
2006    32
2015    32
2016    32
2020    32
2017    32
2014    32
2018    32
2001    31
1999    31
2000    31
1995    30
1997    30
1998    30
1996    30
1979    28
1986    28
1984    28
1985    28
1982    28
1977    28
1993    28
1989    28
1990    28
1988    28
1980    28
1983    28
1981    28
1992    28
1991    28
1987    28
1994    28
Name: Season_Year, dtype: int64

In [8]:
df

,Tm,W,L,W-L%,PF,PA,PD,MoV,SoS,SRS,OSRS,DSRS,Season_Year,T
0,Dallas Cowboys,12,2,.857,345,212,133,9.5,-1.7,7.8,7.6,0.2,1977,NaN
1,Washington Redskins,9,5,.643,196,189,7,0.5,-1.0,-0.5,-3.1,2.6,1977,NaN
2,St. Louis Cardinals,7,7,.500,272,287,-15,-1.1,-0.3,-1.4,2.6,-4.0,1977,NaN
3,Philadelphia Eagles,5,9,.357,220,207,13,0.9,-1.5,-0.6,-2.5,1.9,1977,NaN
4,New York Giants,5,9,.357,181,265,-84,-6.0,-0.2,-6.2,-4.0,-2.2,1977,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1299,Jacksonville Jaguars,1,12,.077,261,383,-122,-9.4,-0.5,-9.9,-5.8,-4.1,2020,0
1301,Kansas City Chiefs,12,1,.923,403,281,122,9.4,-1.5,7.9,5.7,2.3,2020,0
1302,Las Vegas Raiders,7,6,.538,350,391,-41,-3.2,0.7,-2.5,2.5,-5.0,2020,0
1303,Denver Broncos,5,8,.385,257,347,-90,-6.9,1.7,-5.2,-4.1,-1.1,2020,0
1304,Los Angeles Chargers,4,9,.308,297,362,-65,-5.0,-0.8,-5.8,-1.7,-4.1,2020,0

In [9]:
df.to_csv('teams_df.csv', index = False, header=True)